<%- include('partials/header') %>

<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <img class="mb-4" src="/images/home.ico" alt="" width="100" height="100" />
    <h1 class="h3 mb-3 fw-normal">Update User Profile</h1>
    <form action="/edit/<%= user.id %>" method="post">
      <input
        type="text"
        name="nickname"
        class="form-control top"
        placeholder="Nickname"
        value="<%= user.nickname %>"
      />
      <input
        type="email"
        name="email"
        class="form-control middle"
        placeholder="Email"
        value="<%= user.email %>"
      />
      <input
        type="text"
        name="fullName"
        class="form-control middle"
        placeholder="Full Name"
        value="<%= user.User_game_biodatum.fullName %>"
      />
      <input
        type="text"
        name="location"
        class="form-control middle"
        placeholder="Location"
        value="<%= user.User_game_biodatum.location %>"
      />
      <input
        type="text"
        name="phone"
        class="form-control middle"
        placeholder="Phone"
        value="<%= user.User_game_biodatum.phone %>"
      />
      <input
        type="date"
        name="dateOfBirth"
        class="form-control bottom"
        placeholder="Date of Birth"
        value="<%= user.User_game_biodatum.dateOfBirth %>"
      />

      <button class="w-100 btn btn-lg btn-primary" type="submit">UPDATE</button>
    </form>

    <!-- <script src="/js/user.js"></script> -->
    <%- include('partials/footer') %>
  </main>
</body>
