<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>History</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/userlist.css" />
    <link rel="shortcut icon" href="../images/home.ico" type="image/x-icon" />
  </head>
  <body>
    <section class="main-content">
      <div class="container">
        <h1>History</h1>
        <br />
        <br />

        <table class="table">
          <thead>
            <tr>
              <th>Game Name</th>
              <th>Result</th>
              <th>Time Played</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% user.User_game_histories.forEach(game => { %>
            <tr>
              <td><%= game.gameName %></td>
              <td><%= game.result %></td>
              <td><%= game.createdAt %></td>
              <td>
                <a href="/history/delete/<%= user.id %>/<%= game.id %>">
                  <button class="btn btn-warning btn-sm">Delete</button>
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <a href="/addhistory/<%= user.id %>"
          ><button class="btn btn-warning btn-sm">Add More</button></a
        >
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
