<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- font awesome  -->
    <script
      src="https://kit.fontawesome.com/9ce5f73dab.js"
      crossorigin="anonymous"
    ></script>

    <!-- web icon  -->
    <link rel="shortcut icon" href="./images/home.ico" type="image/x-icon" />

    <!-- bootstrap  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <!-- css  -->
    <link rel="stylesheet" href="./css/home.css" />

    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <title>Binar Challange Chapter 3</title>
  </head>
  <body>
    <section class="first-section" id="main">
      <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">LOGO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#about">WORK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#mail">CONTACT</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="https://github.com/adittiyaasril"
                  >ABOUT ME</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="userlist">PLAYER LIST</a>
              </li>
            </ul>
            <ul class="d-flex navbar-nav">
              <% if (!user) { %>
              <li class="nav-item">
                <a href="register" class="nav-link active">SIGN UP</a>
              </li>
              <li class="nav-item">
                <a href="login" class="nav-link active">LOGIN</a>
              </li>
              <% } else { %>
              <li class="nav-item">
                <a href="/" class="nav-link active"
                  >Welcome, <%= user.nick || user.nickname %></a
                >
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link active">LOGOUT</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="scroll-indicator-container">
        <div class="scroll-indicator-bar"></div>
      </div>
      <div class="container-fluid title">
        <h1 class="heading">PLAY TRADITIONAL GAME</h1>
        <h3 class="heading">Experience new traditional game play</h3>
        <a href="play" type="button" class="btn btn-warning btn-lg play-button">
          PLAY NOW
        </a>
        <div class="slide-btn">
          <p>THE STORY</p>
          <!-- <i class="fa-solid fa-sort-down"></i> -->
          <a class="anima" href="#about"
            ><img src="./images/scroll-down.svg" alt=""
          /></a>
        </div>
      </div>
    </section>
    <section class="second-section" id="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 ms-auto">
            <h3>What's so special?</h3>
            <h1>THE GAMES</h1>
          </div>
          <div class="col-lg-8">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item image-slider active">
                  <img
                    src="./images/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item image-slider">
                  <img
                    src="./images/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item image-slider">
                  <img
                    src="./images/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item image-slider">
                  <img
                    src="./images/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="third-section ms-auto" id="game-features">
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-lg-6 features">
            <h3>What's so special?</h3>
            <h1>Features</h1>

            <div>
              <img class="circle" src="./images/ellipse.svg" alt="" />
              <h2 class="large-text">TRADITIONAL GAMES</h2>
              <p class="small-text">
                If you miss your childhood, we provide many traditional games
                here
              </p>
            </div>
            <!-- <div class="d-flex" style="height: 200px; color: white">
              <div class="vr"></div>
            </div> -->
            <div class="vl"></div>
            <div>
              <img class="circle" src="./images/ellipse-outline.svg" alt="" />
              <h2 class="large-text">GAME SUIT</h2>
            </div>
            <div>
              <img class="circle" src="./images/ellipse-outline.svg" alt="" />
              <h2 class="large-text">TBD</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fourth-section" id="system-req">
      <div class="container">
        <div class="text-center">
          <h5>Can My Computer Run This Game?</h5>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h1 style="padding-bottom: 50px">SYSTEM REQUIREMENTS</h1>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <h2 class="spec">OS:</h2>
                    <p>
                      Windows 7 64-bit only<br />(No OSX support at this time)
                    </p>
                  </td>
                  <td>
                    <h2 class="spec">Processor:</h2>
                    <p>Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2 class="spec">Memory:</h2>
                    <p>4 GB RAM</p>
                  </td>
                  <td>
                    <h2 class="spec">Storage:</h2>
                    <p>8 GB available space</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h2 class="spec">Graphics:</h2>
                    <p>
                      NVIDIA GeForce GTX 660 2GB or<br />AMD Radeon HD 7850 2GB
                      DirectX11 (Shader Model S)
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="fifth-section" id="quotes">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ms-auto top-scores-left">
            <h1>TOP SCORESS</h1>
            <h2>This top score from various games provided on this platform</h2>
            <a href="#" class="btn btn-warning btn-lg see-more">see more</a>
          </div>
          <div class="col-lg-6">
            <div class="card ms-auto me-3 top-score text-white bg-dark">
              <div class="card-header">
                <img
                  src="./images/evan-lahti.jpg"
                  class="rounded-circle"
                  alt=""
                />
                <h3 class="player">Evan Lahti</h3>
                <h4 class="player">PC Gamer</h4>
                <img
                  class="twitter-card"
                  src="./images/twitter-card.png"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "One of my gaming highlights of the year."
                </h5>
                <p class="card-text">October 18, 2018</p>
              </div>
            </div>
            <div class="card top-score text-white bg-dark">
              <div class="card-header">
                <img
                  src="./images/jada-griffin.jpg"
                  class="rounded-circle"
                  alt=""
                />
                <h3 class="player">Jada Griffin</h3>
                <h4 class="player">Nerdreactor</h4>
                <img
                  class="twitter-card"
                  src="./images/twitter-card.png"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "The next big thing in the world of streaming and survival
                  games."
                </h5>
                <p class="card-text">December 21, 2018</p>
              </div>
            </div>
            <div class="card ms-auto me-5 top-score text-white bg-dark">
              <div class="card-header">
                <img
                  src="./images/aaron-williams.jpg"
                  class="rounded-circle"
                  alt=""
                />
                <h3 class="player">Aaron Williams</h3>
                <h4 class="player">Uproxx</h4>
                <img
                  class="twitter-card"
                  src="./images/twitter-card.png"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                  Ridiculous
                </h5>
                <p class="card-text">December 24, 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sixth-section" id="mail">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="./images/skull.png" alt="" />
          </div>
          <div class="col-lg-6 newsletter">
            <h3>Want to stay in touch?</h3>
            <h1>Newsletter Subscribe</h1>
            <p>
              In case to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of you. We
              will send you emails containing information about game. We don't
              spam.
            </p>
            <form class="subscribe-form" action="" method="post">
              <div class="input-group">
                <input
                  class="form-control w-50 pt-3 bg-dark"
                  type="email"
                  placeholder="youremail@binar.co.id"
                />
                <button
                  type="button"
                  class="btn btn-warning btn-lg inline-secondary submit-btn"
                  value="submit"
                >
                  Subscribe Now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-end">
            <a href="#main">MAIN</a>
            <a href="#about">ABOUT</a>
            <a href="#game-features">GAME FEATURES</a>
            <a href="#system-req">SYSTEM REQUIREMENTS</a>
            <a href="#quotes">QUOTES</a>
          </div>
          <div class="col-lg-4 text-end">
            <a href="https://facebook.com/">
              <img src="./images/facebook.svg" alt=""
            /></a>
            <a href="https://twitter.com/">
              <img src="./images/twitter.svg" alt=""
            /></a>
            <a href="https://youtube.com/">
              <img src="./images/vector.svg" alt=""
            /></a>
            <a href="https://twitch.tv/">
              <img src="./images/twitch.svg" alt=""
            /></a>
          </div>
        </div>
        <hr style="color: white; font-weight: bolder" />
        <div class="row footer">
          <div class="col-lg-4">
            <div class="copyright">
              <p>
                &copy <%= new Date().getFullYear() %> Adittiya Asril. All Rights
                Reserved
              </p>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-2 mb-2 text-end">
            <div class="">
              <a href="#"><span>PRIVACY POLICY </span></a>|
              <a href="#"><span>TERM OF SERVICES </span></a>|
              <a href="#"><span>CODE OF CONDUCT</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="./js/home.js"></script>
  </body>
</html>
