<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Players List</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/userlist.css" />
    <link rel="shortcut icon" href="./images/home.ico" type="image/x-icon" />
  </head>
  <body>
    <section class="main-content">
      <div class="container">
        <h1>Players List</h1>
        <br />
        <br />

        <table class="table">
          <thead>
            <tr>
              <th>Player</th>
              <th>Full Name</th>
              <th>Birth Date</th>
              <th>Status</th>
              <th>Location</th>
              <th>Phone</th>
              <th>History</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% user_games.forEach(user_game=> {%>
            <tr>
              <td>
                <div class="user-info">
                  <div class="user-info__img">
                    <img src="./images/user.jpg" alt="User Img" />
                  </div>
                  <div class="user-info__basic">
                    <h5 class="mb-0"><%= user_game.nickname %></h5>
                    <p class="text-muted mb-0"><%= user_game.email %></p>
                  </div>
                </div>
              </td>
              <td><%= user_game.User_game_biodatum.fullName %></td>
              <td>
                <%= new
                Date(user_game.User_game_biodatum.dateOfBirth).toDateString() %>
              </td>
              <td>
                <span class="active-circle bg-success"></span> <%=
                user_game.User_game_biodatum.status ? "Active" : "Not Active" %>
              </td>
              <td><%= user_game.User_game_biodatum.location %></td>
              <td><%= user_game.User_game_biodatum.phone %></td>
              <td>
                <a href="/history/<%= user_game.id %>"
                  ><button class="btn btn-primary btn-sm">
                    See History
                  </button></a
                >
              </td>

              <td>
                <div class="dropdown open">
                  <a
                    href="#!"
                    class="px-2"
                    id="triggerId1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fa fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="triggerId1">
                    <a class="dropdown-item" href="/edit/<%= user_game.id %>"
                      ><i class="fa fa-pencil mr-1"></i> Edit</a
                    >
                    <a
                      class="dropdown-item text-danger"
                      href="/delete/<%= user_game.id %>"
                      ><i class="fa fa-trash mr-1"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
